<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
          crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
          crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"
          id="bootstrap-css">
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>-->

</head>

<body>
{% block header %}
<nav class="navbar navbar-light bg-white">
    <div class="row">
        <div class="col-sm-6">
            <a href="#" class="navbar-brand"><img src="{% static 'images/smollan.png' %}" alt="something" height="120"
                                                  width="120"></a>

        </div>
    </div>
</nav>
<!-- header-container end -->
{% endblock %}
{% block main_content %}
{% if user.is_authenticated %}
<div class="container-fluid gedf-wrapper">
    <div class="row">
        {% include "side_bar.html" %}
        {% block content %}
        {% endblock %}
    </div>
</div>
{% else %}
<h1>You are required to login!</h1>
<a href="{% url 'login' %}"><i class="fa fa-sign-out pull-right"></i> Login</a>
{% endif %}
{% endblock %}
{% block extrajs %}
{% endblock %}
</body>
</html>