<div class="col-md-3">
    <div class="card">
        <!--<div class="container">-->
            <div class="list-group">
                <a href="{% url 'public_posts' %}" class="list-group-item">Discussions</a>
                <a href="{% url 'myposts' %}" class="list-group-item">My Posts</a>
                <a href="{% url 'mytasks' %}" class="list-group-item">My Tasks</a>
                 <a href="{% url 'logout' %}" class="list-group-item">Log Out</a>
            </div>
        <!--</div>-->
    </div>
</div>