{% extends 'base.html' %}

{% block content %}
<div class="content-i col-sm-8">
            <div class="content">
              <div class="row">
                <div class="col-sm-6">
                  <div class="element-wrapper">
                    <h6 class="element-header">
                      Posts' Stats
                    </h6>
                  <div class="element-box">
            <div class="el-chart-w">
                <iframe class="chartjs-hidden-iframe" tabindex="-1"
                        style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
                <canvas height="200" id="donutChart" width="200"
                        style="display: block; width: 233px; height: 233px;"></canvas>
                <div class="inside-donut-chart-label">
                    <strong>{{total_posts}}</strong><span>Total Posts</span>
                </div>
            </div>
            <div class="el-legend">
                <div class="legend-value-w">
                    <div class="legend-pin" style="background-color: #85c751;"></div>
                    <div class="legend-value">
                        Closed
                    </div>
                </div>
                <div class="legend-value-w">
                    <div class="legend-pin" style="background-color: #6896f9;"></div>
                    <div class="legend-value">
                        Open
                    </div>
                </div>
            </div>




                  </div>
                  </div>
                </div>
                <div class="col-sm-6">


                  <div class="element-wrapper">
                    <h6 class="element-header">
                      Top Performers
                    </h6>
                    <div class="element-box">
                      <div class="el-chart-w">
                        <canvas height="400" id="barChart1" width="300"></canvas>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>

              <div class="row">
                <div class="col-sm-12">



                  <div class="element-wrapper">
                    <h6 class="element-header">
                      Day Wise Stats
                    </h6>
                    <div class="element-box">
                      <div class="el-chart-w">
                        <canvas height="145" id="lineChart" width="300"></canvas>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="col-sm-12">



                  <div class="element-wrapper">
                    <h6 class="element-header">
                      TOTAL BA's Stats
                    </h6>
                    <div class="element-box">


    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Likes</th>
            <th scope="col">Comments</th>
            <th scope="col">Posts</th>
        </tr>
        </thead>
        <tbody>
        {% for log in table_data %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{log.user}}</td>
            <td>{{log.count_post}}</td>
            <td>{{log.count_comment}}</td>
            <td>{{log.count_like}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
                    </div>
                  </div>
                </div>


              </div>
    </div>
</div>





{% endblock %}

{% block extrajs %}
<script src="/static/vendors/Chart.js/dist/Chart.min.js"></script>
<script>
$(document).ready(function(){

if ($("#donutChart").length) {
      var donutChart = $("#donutChart");

      // donut chart data
      var data = {
        labels: ["Open", "Closed"],

        datasets: [{
          data: [{{post_data.0}},{{post_data.1}}],
          backgroundColor: ["#6896f9","#85c751" ],
          hoverBackgroundColor: ["#6896f9","#85c751" ],
          borderWidth: 0
        }]
      };

      // init donut chart
      new Chart(donutChart, {
        type: 'doughnut',
        data: data,
        options: {
          legend: {
            display: false
          },
          animation: {
            animateScale: true
          },
          cutoutPercentage: 80
        }
      });
    }

if ($("#barChart1").length) {
      var barChart1 = $("#barChart1");
      var barData1 = {
        labels: ["{{top_performers.0.user__username}}", "{{top_performers.1.user__username}}", "{{top_performers.2.user__username}}", "{{top_performers.3.user__username}}", "{{top_performers.4.user__username}}"],
        datasets: [{
          label: "Top performer",
          backgroundColor: ["#5797FC", "#629FFF", "#6BA4FE", "#74AAFF", "#7AAEFF", '#85B4FF'],
          borderColor: ['rgba(255,99,132,0)', 'rgba(54, 162, 235, 0)', 'rgba(255, 206, 86, 0)', 'rgba(75, 192, 192, 0)', 'rgba(153, 102, 255, 0)', 'rgba(255, 159, 64, 0)'],
          borderWidth: 1,
          data: [{{top_performers.0.count_items}}, {{top_performers.1.count_items}}, {{top_performers.2.count_items}}, {{top_performers.3.count_items}}, {{top_performers.4.count_items}}]
        }]
      };
      // init bar chart
      new Chart(barChart1, {
        type: 'bar',
        data: barData1,
        options: {
          scales: {
            xAxes: [{
              display: false,
              ticks: {
                fontSize: '11',
                fontColor: '#969da5'
              },
              gridLines: {
                color: 'rgba(0,0,0,0.05)',
                zeroLineColor: 'rgba(0,0,0,0.05)'
              }
            }],
            yAxes: [{
              ticks: {
                beginAtZero: true
              },
              gridLines: {
                color: 'rgba(0,0,0,0.05)',
                zeroLineColor: '#6896f9'
              }
            }]
          },
          legend: {
            display: false
          },
          animation: {
            animateScale: true
          }
        }
      });
    }
     if ($("#lineChart").length) {
      var lineChart = $("#lineChart");

      // line chart data
      var lineData = {
        labels: [{{day_wise_posts.0.day}}, {{day_wise_posts.1.day}}, {{day_wise_posts.2.day}}, {{day_wise_posts.3.day}}, {{day_wise_posts.4.day}}, {{day_wise_posts.5.day}}, {{day_wise_posts.6.day}}, {{day_wise_posts.7.day}}],
        datasets: [{
          label: "No. of Posts",
          fill: false,
          lineTension: 0,
          backgroundColor: "#fff",
          borderColor: "#6896f9",
          borderCapStyle: 'butt',
          borderDash: [],
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointBorderColor: "#fff",
          pointBackgroundColor: "#2a2f37",
          pointBorderWidth: 3,
          pointHoverRadius: 10,
          pointHoverBackgroundColor: "#FC2055",
          pointHoverBorderColor: "#fff",
          pointHoverBorderWidth: 3,
          pointRadius: 6,
          pointHitRadius: 10,
          data: [{{day_wise_posts.0.count_items}},{{day_wise_posts.1.count_items}} , {{day_wise_posts.2.count_items}}, {{day_wise_posts.3.count_items}}, {{day_wise_posts.4.count_items}}, {{day_wise_posts.5.count_items}}, {{day_wise_posts.6.count_items}},{{day_wise_posts.7.count_items}}],
          spanGaps: false
        }]
      };

      // line chart init
      var myLineChart = new Chart(lineChart, {
        type: 'line',
        data: lineData,
        options: {
          legend: {
            display: false
          },
          scales: {
            xAxes: [{
              ticks: {
                fontSize: '11',
                fontColor: '#969da5'
              },
              gridLines: {
                color: 'rgba(0,0,0,0.05)',
                zeroLineColor: 'rgba(0,0,0,0.05)'
              }
            }],
            yAxes: [{
              display: false,
              ticks: {
                beginAtZero: true,
                max: 65
              }
            }]
          }
        }
      });
    }
});
</script>

{% endblock %}

